<template>
    <div class="hierarchy-tree">
        <h1>Let's see what you've got!</h1>

        <div class="hierarchy-tree__input">
            <div class="hierarchy-tree__input__decorator">
                <input name="hierarchy_file" type="file" @change="uploadHierarchy" />
                <button type="button" class="btn btn-primary btn-lg active">Choose file</button>
            </div>
        </div>

        <div v-if="errorMessage" class="hierarchy-tree__error alert alert-danger" role="alert">
            {{ errorMessage }}
        </div>

        <div class="hierarchy-tree__tree">
            <ul>
                <tree :key_name="supervisor_name" :values="employees"/>
            </ul>
        </div>
    </div>
</template>

<script>
    import Tree from './TreeComponent';
    import throttle from 'lodash/throttle';
    import isEmpty from 'lodash/isempty';
    import head from 'lodash/head';

    export default {
        name: 'hierarchy',

        components: {
            'tree': Tree,
        },

        data () {
            return {
                supervisor_name: '',
                employees: [],
                errorMessage: '',
                loading: false
            };
        },

        methods: {

            /**
             * Resets data to its initial values
             */
            reset () {
                this.errorMessage = '';
                this.supervisor_name = '';
                this.employees = [];
            },

            /**
             * Upload a file and set new data to visualize
             */
            uploadHierarchy (event) {
                this.loading = true;

                // resets data before each request
                this.reset();

                let input = event.target;

                if (!isEmpty(input.name) && !isEmpty(input.value)) {

                    // initialize the form data and append the file
                    let formData = new FormData();
                    formData.append(input.name, input.files[0]);

                    // throttle the request
                    throttle((file) => {

                        // make the request
                        this.$api.employee.uploadHierarchy(file)
                            .then((response) => {

                                if (response.data.success) {
                                    if (isEmpty(response.data.data)) {
                                        this.errorMessage = 'No data was returned';
                                    } else {
                                        let obj = response.data.data;
                                        this.supervisor_name = Object.keys(obj)[0];
                                        this.employees = obj[this.supervisor_name];
                                    }
                                }

                                this.loading = false;
                            })
                            .catch((error) => {

                                if (!isEmpty(error.response.data.errors)) {
                                    let errors = error.response.data.errors;

                                    // get the first error to output
                                    if (Array.isArray(errors)) {
                                        this.errorMessage = head(errors);

                                    } else if (this.isObject(errors)) {
                                        this.errorMessage = errors[Object.keys(errors)[0]][0];
                                    }
                                }

                                this.loading = false;
                            });
                    }, 300)(formData);

                }
            },

            isObject(obj) {
                return obj !== null && typeof obj === 'object' && Array.isArray(obj) === false;
            }
        }
    };
</script>

