<template>
        <li v-if="not_empty(name)">
            <a href="#">{{ name }}</a>

            <ul v-if="array.length > 0">
                <li v-for="obj in array">
                    <a href="#">{{ getName(obj) }}</a>

                    <ul v-if="getValues(obj).length > 0">
                        <tree v-for="next_obj in getValues(obj)"
                              :key_name="getName(next_obj)"
                              :key="getName(next_obj)"
                              :values="getValues(next_obj)"
                              :root="false"/>
                    </ul>

                </li>
            </ul>

        </li>
</template>

<script>
    import isEmpty from 'lodash/isempty'

    export default {
        name: 'tree',

        components: {
            // circular reference
            Tree: () => require('./TreeComponent.vue')
        },

        props: {
            key_name: {
                type: String,
                default: ''
            },
            values: {
                type: Array,
                default: () => []
            },
            root: {
                type: Boolean,
                default: true
            }
        },

        data () {
            return {
                name: this.key_name,
                array: this.values
            };
        },

        methods: {
            /**
             * Returns the first key from the object which is the name
             *
             * @param obj
             * @returns {string}
             */
            getName (obj) {
                return Object.keys(obj)[0];
            },

            /**
             * Returns the first value from the object
             *
             * @param obj
             * @returns {Array}
             */
            getValues (obj) {
                let obj_values = obj[this.getName(obj)];
                return isEmpty(obj_values) ? [] : obj_values;
            },

            /**
             * Makes sure that the variable is not empty
             *
             * @param variable
             * @returns {boolean}
             */
            not_empty (variable) {
                return !isEmpty(variable);
            }
        },

        watch: {
            $props: {
                handler () {
                    this.name = this.key_name;
                    this.array = this.values;
                },
                deep: true,
                immediate: true
            }
        }
    };
</script>

