.hierarchy-tree {
  h1 {
    margin: 50px auto;
    text-align: center;
  }
  &__error {
    text-align: center;
  }

  &__input {
    display: flex;

    &__decorator {
      $file-input-decorator-width: 225px;
      $file-input-decorator-height: 46px;
      position: relative;
      margin: 0 auto 50px;
      text-align: center;

      input, button {
        width: $file-input-decorator-width;
        height: $file-input-decorator-height;
        border-radius: 20px;
        padding: 10px 16px;
        margin: 0;
      }

      input {
        position: relative;
        z-index: 2;
        opacity: 0;
        display: block;
        overflow: hidden;
        cursor: pointer;
      }

      button {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        border-radius: 20px;
      }
    }
  }

  &__tree {
    overflow: scroll;
    width: max-content;
    margin: 0 auto;

    * {margin: 0; padding: 0;}

    ul {
      padding-top: 20px;
      position: relative;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;

      /* add downward connectors from parents */
      ul::before {
        content: '';
        position: absolute; top: 0; left: 50%;
        border-left: 1px solid #ccc;
        width: 0; height: 20px;
      }
    }

    li {
      float: left; text-align: center;
      list-style-type: none;
      position: relative;
      padding: 20px 5px 0 5px;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;

      /* use ::before and ::after to draw the connectors */
      &::before, &::after {
        content: '';
        position: absolute; top: 0; right: 50%;
        border-top: 1px solid #ccc;
        width: 50%; height: 20px;
      }

      &::after {
        right: auto; left: 50%;
        border-left: 1px solid #ccc;
      }

      &:only-child {
        padding-top: 0;

        /* remove left-right connectors from elements without any siblings */
        &::after, &::before {
          display: none;
        }
      }

      /* remove left connector from first child and right connector from last child */
      &:first-child::before, &:last-child::after {
        border: 0 none;
      }

      /* add back the vertical connector to the last nodes */
      &:last-child::before {
        border-right: 1px solid #ccc;
        border-radius: 0 5px 0 0;
        -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
      }

      &:first-child::after {
        border-radius: 5px 0 0 0;
        -webkit-border-radius: 5px 0 0 0;
        -moz-border-radius: 5px 0 0 0;
      }

      a {
        border: 1px solid #ccc;
        padding: 5px 10px;
        text-decoration: none;
        color: #666;
        font-family: arial, verdana, tahoma;
        font-size: 11px;
        display: inline-block;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;

        /* apply the hover effect the the lineage of the element also */
        &:hover, &:hover + ul li a {
          background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
        }

        /* connector styles on hover */
        &:hover + ul li::after,
        &:hover + ul li::before,
        &:hover + ul::before,
        &:hover + ul ul::before {
          border-color: #94a0b4;
        }
      }
    }
  }
}