// Fonts
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400&subset=cyrillic,latin');

// Variables
@import "variables";

// Bootstrap
// Core variables and mixins
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/print";

// Core CSS
@import "~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/alerts";

// Pages
@import "hierarchy";

// Common styles
html {
  font-size: $font-size-base;
}

body {
  min-width: 320px;
}

input[type='file'],
input[type=file]::-webkit-file-upload-button{
  cursor: pointer;
}